.messages__item a {
  word-break: break-word;
}
.project-browser-popup input {
  width: 90%;
  color: #fff;
  border: none;
  background-color: #292b32;
}
.project-browser-popup img {
  display: block;
  width: 1.25em;
  background: transparent;
}
.project-browser-popup button {
  margin-inline-start: auto;
  border: none;
  background: transparent;
}
.project-browser-popup button:hover {
  cursor: pointer;
}
.project-browser-popup #download-cmd,
#install-cmd {
  position: relative;
  display: flex;
  margin: 0.85rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
  background-color: #282c34;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  padding-inline: 1rem 0.25rem;
}
.project-browser-popup .copied-download,
.copied-install {
  position: absolute;
  z-index: 1;
  right: -18px;
  width: fit-content;
  margin-top: 30px;
  padding: 0 4px 0;
  opacity: 0;
  border: 0.5px solid black;
  border-radius: 4px;
  background: #fff;
  font-size: 13px;
}
